[user]
    name = Matt Struble
    email = mattstruble@outlook.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    autocrlf = input

[push]
    default = simple

[web]
    browser = firefox

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
    commit = commit -S

[pull]
    rebase = true
[init]
	defaultBranch = main
