[user]
    name = Matt Struble
    email = mattstruble@outlook.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEM+saqSDNRJt5qpi6lltteSsdY7wNVz5Is2ywVFcyzv
;	signingkey = 12098F0A573900D0ED6150D58B4607015040DE6C
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    autocrlf = input

[push]
    default = simple

[web]
    browser = firefox

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
    clone = clone --bare
    ; commit = commit -s

[commit]
	gpgsign = true

[push]
    gpgsign = if-asked
	autoSetupRemote = true

[tag]
    gpgsign = true

[pull]
    rebase = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
