[user]
    name = Matt Struble
    email = mattstruble@outlook.com
;	signingkey = 12098F0A573900D0ED6150D58B4607015040DE6C

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    autocrlf = input

[push]
    default = simple

[web]
    browser = firefox

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
    clone = clone --bare
    ; commit = commit -s


[commit]
	gpgsign = false

[push]
    gpgsign = if-asked
	autoSetupRemote = true

[tag]
    gpgsign = true

[pull]
    rebase = true
[init]
	defaultBranch = main
